[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
pydantic = "*"
oidcrp = "*"
cryptojwt = "*"
fastapi-sessions = "*"
databases = {version = "*", extras = ["postgresql"]}
psycopg2-binary = "*"
alembic = "*"
SQLAlchemy = "*"
Faker = "*"
httpx = "*"
aiocache = "*"
pyjwt = {extras = ["crypto"], version = "*"}
cachetools = "*"
python-benedict = "*"
autopep8 = "*"
async-lru = "*"
"stomp.py" = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
isort = "*"
"stomp.py" = "*"

[requires]
python_version = "3.10.5"
