<div class="search-bar">
  <div class="row">
    <div class="col-3 d-grid">
      <a href=".">
        <img id="logo" src="assets/eosc-logo-color.png" alt="EOSC logo">
      </a>
    </div>
    <div class="col-6 d-grid vertical-center">
      <form role="search" data-target="autocomplete.form search.form" data-controller="search autocomplete" data-autocomplete-url="service_autocomplete" data-search-services-path="/services" data-search-categories-path="/services/c" data-shepherd-tour-target="overview_8" class="searchbar" action="/services" accept-charset="UTF-8" method="get">
        <input type="hidden" name="object_id" id="object_id" data-target="autocomplete.hidden">
        <input type="hidden" name="type" id="type" data-target="autocomplete.type search.type">
        <input type="hidden" name="anchor" id="anchor" data-target="autocomplete.anchor">
        <input type="hidden" name="sort" value="_score">
        <input type="hidden" name="scientific_domains" id="scientific_domains" value="27">

        <div class="searchbar__input">
          <label class="sr-only" for="search">Search</label>
          <input type="text" name="q" id="q" class="autocomplete-input" placeholder="Find resource..." data-target="autocomplete.input" data-toggle="dropdown" data-e2e="searchbar-input" data-probe="" autocomplete="off" spellcheck="false">
          <ul class="autocomplete-results" data-e2e="autocomplete-results" data-target="autocomplete.results" hidden=""></ul>
        </div>
        <div class="searchbar__select" data-probe="">
          <span data-target="search.selected">All resources</span>
          <select class="container-select" data-action="change->search#refresh" data-e2e="category-select" data-target="search.categorySelect" id="category-select">
            <option selected="selected" value="">
              All resources
            </option>
            <option value="access-physical-einfrastructures">Access physical &amp; eInfrastructures</option>
            <option value="aggregators-integrators">Aggregators &amp; Integrators</option>
            <option value="processing-analysis">Processing &amp; Analysis</option>
            <option value="security-operations">Security &amp; Operations</option>
            <option value="sharing-discovery">Sharing &amp; Discovery</option>
            <option value="training-support">Training &amp; Support</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="input-group-append">
          <button class="input-group-text bg-white" data-e2e="query-submit-btn" id="query-submit">
            <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg><!-- <i class="fas fa-search"></i> Font Awesome fontawesome.com -->
          </button>
        </div>
      </form>
    </div>
    <div class="col-3 d-grid vertical-center">
      <button id="btn-menu" class="btn btn-primary" type="button">My EOSC Marketplace </button>
    </div>
  </div>
</div>

<div class="dashboard">

  <div class="breadcrumbs">
    <div class="mt-4 mb-4">
      <div class="breadcrumbs data-probe"><a href="/">Home</a> › <span class="current">User dashboard</span></div>
    </div>
  </div>

  <h1>Your EOSC dashboard</h1>
  <hr class="category-separator mb-4">

  <div class="row">
    <div class="col-12 col-sm-12 col-lg-9 left-section">

      <section id="recommended-resources">
        <div class="header-row">
          <h4>Recommended resources</h4>
          <span class="text-secondary"><a href="#">Browse recommended resources (20)</a></span>
        </div>

        <div class="row">

          <ng-container *ngFor="let recommendedResource of recommendedResources$ | async">
            <div class="col-12 col-sm-12 col-lg-4">
              <div class="card-container custom-card">
                <a href="#" class="card-title">{{ recommendedResource.label }}</a>
                <ngb-rating class="rating-row"
                  [max]="recommendedResource.rating"
                  [rate]="recommendedResource.rating"
                  [readonly]="true"
                >
                </ngb-rating>
                <div class="card-rating">({{ recommendedResource.rating }})</div>
                <p class="card-description">{{ recommendedResource.description }}</p>
                <p class="card-organisation">Organisation: <a href="#">{{ recommendedResource.organisation }}</a></p>
              </div>
            </div>
          </ng-container>

        </div>
      </section>

      <section id="recommended-publications" class="mt-5">
        <div class="header-row">
          <h4>Recommended publications</h4>
          <span class="text-secondary"><a href="#">Browse recommended publications (12)</a></span>
        </div>

        <div class="row">
          <ng-container *ngFor="let recommendedPublication of recommendedPublications$ | async">
            <div class="col-12 col-sm-12 col-lg-4">
              <div class="card-container custom-card">
                <a href="#" class="card-title">{{ recommendedPublication.label }}</a>
                <p class="card-organisation mt-2">Published: {{ recommendedPublication.publish_date | date:'shortDate' }}</p>
                <p class="card-organisation mt-2">
                  <ng-container *ngFor="let tag of recommendedPublication.tags">
                    {{ tag | uppercase }}
                  </ng-container>
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </section>

      <section id="popular-articles" class="mt-5">

        <div class="header-row">
          <h4>Popular articles</h4>
        </div>

        <div class="row">
          <ng-container *ngFor="let popularArticle of popularArticles$ | async">
            <article class="col-12 col-sm-12 col-lg-4">
              <div class="card-container custom-card no-border">
                <a href="#" class="card-title">{{ popularArticle.label }}</a>
                <p class="card-description">{{ popularArticle.description }}</p>
                <div class="card-date">{{ popularArticle.publish_date | date:'shortDate' }}</div>
              </div>
            </article>
          </ng-container>
        </div>

        <div class="row d-flex justify-content-center mt-4">
          <a class="button button--primary" href="#">show more</a>
        </div>

      </section>

      <section id="knowledge-hub" class="mt-5">
        <div class="header-row">
          <h4>Knowledge hub</h4>
        </div>

        <div class="row">
          <ng-container *ngFor="let recommendedPublication of recommendedPublications$ | async">
            <div class="col-12 col-sm-12 col-lg-4">
              <div class="card-container custom-card">
                <a href="#" class="card-title">{{ recommendedPublication.label }}</a>
                <p class="card-organisation mt-2">Published: {{ recommendedPublication.publish_date | date:'shortDate' }}</p>
                <p class="card-organisation mt-2">
                  <ng-container *ngFor="let tag of recommendedPublication.tags">
                    {{ tag | uppercase }}
                  </ng-container>
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </section>
    </div>
    <div class="col-12 col-sm-12 col-lg-3">
      <section id="summary" class="right-section">
        <h5>Summary</h5>

            <div class="custom-card big-box media mb-3 shadow-sm">
              <div class="card-container">
                <span>12</span> projects
              </div>
            </div>

            <div class="custom-card big-box media mb-4 shadow-sm">
              <div class="card-container">
                <span>10</span> resources
              </div>
            </div>
      </section>

      <section id="interested" class="right-section">
        <h5>You are interested in</h5>
        <div class="custom-card standard-box media mb-4 shadow-sm">
          <div class="card-container">
            <a href="#">Cloud Computing</a>, <a href="#">Natural Sciences</a>,
            <a href="#">Physical Sciences</a>,  <a href="#">Engineering & Technology</a>  and <a href="#">5 more</a>
          </div>
        </div>
      </section>

      <section id="latest-info" class="right-section">
        <div class="header-row">
          <h5>Stay udated</h5>
          <span class="text-muted float-end"><a href="#">Show all</a></span>
        </div>
        <ng-container *ngFor="let information of latestInformations$ | async">
          <div class="custom-card standard-box media mb-3 shadow-sm" (click)="!!window ? window.location.href = information.url : null">
            <div class="card-container">
              <p><small>{{ information.type | uppercase }}</small></p>
              <p>{{ information.description }}</p>
            </div>
          </div>
        </ng-container>
      </section>

      <section id="user-activities" class="right-section mt-4">
        <div class="header-row">
          <h5>Your recent activities</h5>
          <span class="text-muted float-end"><a href="#">Show all</a></span>
        </div>

        <ng-container *ngFor="let userActivity of userActivities$ | async">
          <div class="custom-card standard-box media mb-3 shadow-sm" (click)="!!window ? window.location.href = userActivity.url : null">
            <div class="card-container">
              <p><small>{{ userActivity.type | uppercase }}</small></p>
              <p>{{ userActivity.description }}</p>
            </div>
          </div>
        </ng-container>
      </section>
    </div>
  </div>
</div>
